<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.applicationHost>
		<applicationPools>
			<add name="TestAppPool" />
			<applicationPoolDefaults>
				<processModel identityType="NetworkService" />
			</applicationPoolDefaults>
		</applicationPools>
		<listenerAdapters>
			<add name="http" />
		</listenerAdapters>
		<sites>
			<site name="TestWebSite" id="1">
				<application path="/">
					<virtualDirectory path="/" physicalPath="C:\work\xiaodoli\gahostagent\Data\SiteRoot" />
				</application>
				<bindings>
					<binding protocol="HTTP" bindingInformation="*:23456:" />
				</bindings>
			</site>
			<siteDefaults>
				<logFile directory="C:\Logs" />
			</siteDefaults>
			<applicationDefaults applicationPool="TestAppPool" />
			<virtualDirectoryDefaults allowSubDirConfig="true" />
		</sites>
	</system.applicationHost>
	<system.webServer>
		<globalModules>
			<add name="DefaultDocumentModule"
			     image="D:\Windows\system32\inetsrv\defdoc.dll" />
			<add name="DirectoryListingModule"
			     image="D:\Windows\system32\inetsrv\dirlist.dll" />
			<add name="StaticFileModule"
			     image="D:\Windows\system32\inetsrv\static.dll" />
			<add name="AnonymousAuthenticationModule"
			     image="D:\Windows\system32\inetsrv\authanon.dll" />
			<add name="HttpLoggingModule"
			     image="D:\Windows\system32\inetsrv\loghttp.dll" />
		</globalModules>
		<handlers>
			<add name="StaticFile" path="*" verb="*"
			     modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule"
			     resourceType="Either" requireAccess="Read" />
		</handlers>
		<modules>
			<add name="DefaultDocumentModule" />
			<add name="DirectoryListingModule" />
			<add name="StaticFileModule" />
			<add name="AnonymousAuthenticationModule" />
			<add name="HttpLoggingModule" />
		</modules>
		<directoryBrowse enabled="true" />
		<httpLogging dontLog="false" />
		<defaultDocument enabled="true">
			<files>
				<add value="default.htm" />
			</files>
		</defaultDocument>
		<staticContent>
			<mimeMap fileExtension=".gif" mimeType="image/gif" />
			<mimeMap fileExtension=".htm" mimeType="text/html" />
			<mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
			<mimeMap fileExtension=".txt" mimeType="text/plain" />
		</staticContent>
		<security>
			<access flags="Read" sslFlags="None" />
			<authentication>
				<anonymousAuthentication enabled="true"
				                         userName="IUSR" defaultLogonDomain="" />
			</authentication>
		</security>
	</system.webServer>
</configuration>